<div class="p-2">
<h1>Articles list</h1>
<div>
    <% articles.each do |article| %>
        <table>
        <tr>
            <th>
                <h4> <%= article.title %> - <%= article.created_at %> </h4>
            </th>
        </tr>
        <tr>
            <td>
                <p> <%= article.body %> </p>
            </td>
        </tr>
        <tr>
            <td>
                <span>id: <%= article.id %> </span>
            </td>
        </tr>
        </table>
    <% end %>
</div>
</div>
