<!DOCTYPE html>
<html>
  <head>
    <style>
    h1 {
      /* padding: 5px; */
      /* font-size: 24px; */
      background: -webkit-linear-gradient(#f9ae19, #c91b04);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: 20%;
      /* margin: 5px; */
      /* border: 1px solid #4a4a4a; */
    }
    div {
      width: 100%;
      display: -webkit-box;
      -webkit-box-pack: center;
      /* align-items: center; */
    }
    </style>
    <meta charset="UTF-8">
  </head>
  <body>
    <div><h1><%= title %></h1></div>
  </body>
</html>
